<!-- 16. п 8. Искусственная загрузка страницы -->

@if (isLoading === true) {
  <div class="loader-wrapper">
    <div class="loader-icon"></div>
  </div>
} @else {

  <!-- 15. п 1. Верстка шапки и первого блока с макета -->

  <header>
    <div class="header white-text">
      <div class="container header-container">
        <div class="logo-wrapper">
          <img src="/images/icons/company.svg" alt="Горы">
          <span class="company-name">{{ companyName }}</span>
        </div>
        <nav class="nav-wrapper">
          <a>Главная</a>
          <a>Про гида</a>
          <a>Программа тура</a>
          <a>Стоимость</a>
          <a>Блог</a>
          <a>Контакты</a>
        </nav>

        <!-- 19. п 3.9. Привязка вызова уведомлений к кнопкам макета -->

        <button class="consultation-btn" id="consultation-btn" (click)="showMessage(MessageType.Success, 'Заявка на консультацию отправлена!')">Консультация</button>
      </div>

      <!-- 16. п 6. Кнопка-переключатель задач в шапке (задачи 4 и 5) -->

      <div class="header-interactive-wrapper">
        <button id="toggleView" (click)="toggleView()">
          {{ dateTimeOrCount === true ? 'Показать кликер' : 'Показать дату'}}
        </button>

        @if (dateTimeOrCount === true) {

          <!-- 16. п 4. Вывод тикающего таймера текущего времени -->

          <div class="header-date">{{ dateTime }}</div>
        } @else {

          <!-- 16. п 5. Реализация интерактивного счетчика кликов -->

          <div class="header-count">
            <button id="increase-bnt" (click)="increase()">+</button>
            {{ count }}
            <button id="decrease-btn" (click)="decrease()" [disabled]="count === 0">-</button>
          </div>
        }
      
        <!-- 16. п 7. Реализация live-input с моментальным выводом текста рядом -->

        <input type="text" class="live-input" [(ngModel)]="liveText" name="liveText">
        <div class="live-output">{{ liveText }}</div>
      </div>
    </div>
  </header>

  <section class="hero">
    <div class="container hero-content-wrapper">
      <div class="container title-wrapper">
        <h1 class="title-text white-text">Насладись прогулкой в горах <br> с командой единомышленников</h1>
      </div>  
      <form class="search-form white-text">
        <div class="search-form-inner">

          <!-- 16. п 2.2. Двусторонняя привязка данных для инпута и селекта -->

          <div class="input-box">
            <label class="input-field">
              <select class="input-text input-select" name="tour" [(ngModel)]="tour">
                <option value="" disabled selected hidden>Локация для тура</option>
                <option value="dagestan">Дагестан</option>
                <option value="chechnya">Чечня</option>
                <option value="kbr">Кабардино-Балкария</option>
              </select>
              <span class="icon arrow-icon"></span>
            </label>
            <span class="input-sub">выберите из списка</span>
          </div>
          <div class="input-box">
            <label class="input-field">
              <input
              type="text"
              class="input-text"
              placeholder="Дата похода"
              name="date"
              [(ngModel)]="date"
              (mouseenter)="$any($event.target).type = 'date'"
              (mouseleave)="date ? $any($event.target).type = 'date' : $any($event.target).type = 'text'">
              <span class="icon date-icon"></span>
            </label>
            <span class="input-sub">укажите дату</span>
          </div>
          <div class="input-box">
            <label class="input-field">
              <select class="input-text" name="participants" [(ngModel)]="participants">
                <option value="" disabled selected hidden>Участники</option>
                <option value="indiana">Индиана Джонс</option>
                <option value="predator">Чужой</option>
                <option value="alien">Хищник</option>
              </select>
              <span class="icon arrow-icon"></span>
            </label>
            <span class="input-sub">выберите из списка</span>
          </div>

          <!-- 16. п 2.3. Условие блокировки кнопки отправки формы -->

          <button type="submit" class="search-btn white-text green-button" id="search-btn" [disabled]="tour === '' || date === '' || participants === ''" (click)="showMessage(MessageType.Info, 'x')">Найти программу</button>
        </div>
      </form>
    </div>
  </section>

  <!-- 16. п 1. Верстка блоков "Исследуйте все горные массивы..." и "Лучшие программы для тебя" -->

  <section class="about">
    <div class="container about-wrapper">
      <div class="about-images-wrapper">
        <img class="about-img about-img-back" src="/images/about-mountains.png" alt="Горы">
        <img class="about-img about-img-front" src="/images/about-forest.png" alt="Лес">
      </div>
      <div class="about-title-wrapper">
        <div class="about-heading-wrapper">
          <span class="about-subtitle text-subtitle">о нашем походе</span>
          <h2 class="about-title h2-title">Исследуйте все горные массивы мира вместе с нами</h2>
        </div>
        <p class="about-text">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur" и занялся его поисками в классической латинской литературе.</p>
        <button class="about-btn white-text green-button" id="about-btn" (click)="showMessage(MessageType.Warn, 'Программа недоступна')">Программа тура</button>
      </div>
    </div>
  </section>

  <section class="offer">
    <div class="container offer-wrapper">
      <div class="offer-title-wrapper">
        <div class="offer-heading-wrapper">
          <span class="offer-subtitle text-subtitle">наше предложение</span>
          <h2 class="offer-title h2-title">Лучшие программы для тебя</h2>
        </div>
        <p class="offer-text">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>

        <!-- 16. п 1.2. Вывод карточек программ с помощью конструкции @for -->

        @for (item of offer; track item.id) {
          <div class="offer-item-wrapper">
            <div class="offer-icon-wrapper">
              <img class="offer-icon" [src]="item.icon" [alt]="item.alt">
            </div>
            <div class="offer-item-content-wrapper">
              <h3 class="offer-item-title">{{ item.title }}</h3>
              <p class="offer-item-text">{{ item.text }}</p>
            </div>
          </div>
        }

        <button class="offer-btn white-text green-button" id="offer-btn" (click)="showMessage(MessageType.Info, 'Стоимость отправлена на почту')">Стоимость программ</button>
      </div>
      <div class="offer-images-wrapper">
        <img class="offer-gallery-img" src="/images/offer-canyon-lake.png" alt="Озеро в каньоне">
        <img class="offer-gallery-img" src="/images/offer-canyon-view.png" alt="Вид на каньон">
        <img class="offer-gallery-img" src="/images/offer-snowmobile.png" alt="Снегоход в горах">
        <img class="offer-gallery-img" src="/images/offer-mountain-river.png" alt="Горная река">
      </div>
    </div>
  </section>

  <!-- 19. п 1. Верстка блоков "Популярные направления" и "Блог о путешествиях" -->

  <section class="destinations">
    <div class="destinations-heading-wrapper">
      <span class="text-subtitle">по версии отдыхающих</span>
      <h2 class="h2-title">Популярные направления</h2>
    </div>
    <div class="container destinations-images">
      <div class="destinations-images-card">
        <img class="destinations-gallery-img" src="/images/destination-lake.png" alt="Озеро возле гор">
        <div class="destinations-images-rating">
          <img src="/images/icons/star.svg" alt="Звезда">
          <span class="">4.9</span>
        </div>
        <div class="destinations-images-footer">
          <div class="destinations-images-info">
            <h3>Озеро возле гор</h3>
            <p>романтическое приключение</p>
          </div>
          <div class="destinations-images-price">480 $</div>
        </div>
      </div>
      <div class="destinations-images-card">
        <img class="destinations-gallery-img" src="/images/destination-night.png" alt="Ночь в горах">
        <div class="destinations-images-rating">
          <img src="/images/icons/star.svg" alt="Звезда">
          <span class="">4.5</span>
        </div>
        <div class="destinations-images-footer">
          <div class="destinations-images-info">
            <h3>Ночь в горах</h3>
            <p>в компании друзей</p>
          </div>
          <div class="destinations-images-price">500 $</div>
        </div>
      </div>
      <div class="destinations-images-card">
        <img class="destinations-gallery-img" src="/images/destination-stretching.png" alt="Растяжка в горах">
        <div class="destinations-images-rating">
          <img src="/images/icons/star.svg" alt="Звезда">
          <span class="">5.0</span>
        </div>
        <div class="destinations-images-footer">
          <div class="destinations-images-info">
            <h3>Растяжка в горах</h3>
            <p>для тех, кто забоится о себе</p>
          </div>
          <div class="destinations-images-price">230 $</div>
        </div>
      </div>
    </div>
    <button class="destinations-btn white-text green-button" id="destinations-btn" (click)="showMessage(MessageType.Success, 'Напрваления получены')">Рейтинг направлений</button>
  </section>

  <section class="blog">
    <div class="blog-heading-wrapper">
      <span class="text-subtitle">делимся впечатлениями</span>
      <h2 class="h2-title">Блог о путешествиях</h2>
    </div>
    <div class="container blog-wrapper">
      @for (item of blog; track item.id) {
        <div class="blog-card">
        <img class="blog-card-img" [src]="item.image" [alt]="item.alt">
        <div class="blog-card-content">
          <h3 class="blog-card-title">{{ item.title }}</h3>
          <p class="blog-card-text">{{ item.text }}</p>
          <div class="blog-card-footer">
            <p class="blog-card-footer-date">{{ item.date }}</p>
            <a class="blog-card-footer-link" [href]="item.link">{{ item.linkText }}</a>
          </div>
        </div>
      </div>
      }
    </div>
      <button class="blog-btn white-text green-button" id="offer-btn" (click)="showMessage(MessageType.Error, 'Материалы недоступны')">Другие материалы</button>
  </section>

  <!-- 19. п 3.10. Фиксированный контейнер для всплывающих сообщений -->

  <div class="msg-wrapper">
    @for (item of messageService.messages; track item.id) {
      <div [ngTemplateOutlet]="msgCard" [ngTemplateOutletContext]="{ $implicit: item }"></div>
    }
  </div>

  <!-- 19. п 3.11. Использование ng-template с объектом сообщения -->

  <ng-template #msgCard let-message>
    <div class="msg-card">
      <div class="msg-card-icon">
        <img src="/images/icons/msg.svg" alt="Значок конверта">
      </div>
      <div class="msg-card-text">
        <h3>{{ message.type | titlecase }}</h3>
        <p>{{ message.text }}</p>
      </div>
      <button class="msg-card-close-btn" (click)="messageService.closeMessage(message.id)">
        <img src="/images/icons/close.svg" alt="Значок закрытия">
      </button>
    </div>
  </ng-template>

  <!-- 20. п 1. Верстка блоков "Делимся впечатлениями" и футера -->

  <section class="impressions">
    <div class="impressions-heading-wrapper">
      <span class="text-subtitle">фото-отчет</span>
      <h2 class="h2-title">Делимся впечатлениями</h2>
    </div>
    <div class="container impressions-images">
      <img src="/images/hot-air-balloon.png" alt="Вид на воздушные шары">
      <img src="/images/travel-map.png" alt="Карта путешественника">
      <img src="/images/dubai.png" alt="Вид на здание и берег океана">
      <img src="/images/tropical-beach.png" alt="Вид на бирюзовую воду и песчаный пляж">
      <img src="/images/canyon.png" alt="Вид на каньон">
      <img src="/images/notebook.png" alt="Винтажный блокнот">
    </div>
    <button class="impressions-btn white-text green-button" id="impressions-btn" (click)="showMessage(MessageType.Success, 'Напрваления получены')">Наш pinterest</button>
  </section>

  <footer class="footer">

    <div class="container footer-subscribe">
      <div class="title">
        <span>актуально</span>
        <h2>Получайте полезные рассылки о путешествиях</h2>
      </div>
      
      <div class="subscribe">
        <div class="subscribe-action">
          <form class="subscribe-action-form">
            <p class="subscribe-email-text">Введите e-mail адрес</p>
            <input class="subscribe-form-input" id="subscribe-form-input" type="email" name="email" id="email" placeholder="name@domain.com">
          </form>
          <button class="subscribe-form-btn green-button" id="subscribe-form-btn">Подписаться на новости</button>
        </div>
        <p class="subscribe-text">подписываясь на новости, вы автоматически соглашаетесь с 
          <a href="#">условиями обработки персональных данных</a> и 
          <a href="#">правилами рекламных рассылок</a>
        </p>
      </div>
    </div>

    <div class="footer-main white-text">
      <div class="container footer-main-wrapper">

        <div class="company-info">
          <h3 class="footer-main-title">Компания «РумТибет»</h3>
          <p class="company-info-text">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney.</p>
          <div class="company-info-contacts">
            <a href="mailto:info@domain.com" class="company-email">info@domain.com</a>
            <a href="tel:+71234567890" class="company-tel">+7 (123) 456-78-90</a>
          </div>
          <div class="company-info-socials">
            <a href="#"><img src="/images/icons/tg.svg" alt="Telegram"></a>
            <a href="#"><img src="/images/icons/vk.svg" alt="ВКонтакте"></a>
            <a href="#"><img src="/images/icons/pinterest.svg" alt="Pinterest"></a>
            <a href="#"><img src="/images/icons/skype.svg" alt="Skype"></a>
          </div>
        </div>

        <div class="services">
          <h3 class="footer-main-title">Наши услуги</h3>
          <ul>
            <li><a href="#">Прогулки в горы летом</a></li>
            <li><a href="#">Зимние походы в горы</a></li>
            <li><a href="#">Посещение храмов в горах</a></li>
            <li><a href="#">Экстремальные виды туризма</a></li>
            <li><a href="#">Походы в джунглях Амазонии</a></li>
            <li><a href="#">Поездка в Африку</a></li>
          </ul>
        </div>

        <div class="Important">
          <h3  class="footer-main-title">Важно для путешествий</h3>
          <ul>
            <li><a href="#">Как собрать в долгий поход?</a></li>
            <li><a href="#">Жизненно важные предметы для похода</a></li>
            <li><a href="#">Медицинская страховка, гарантии безопасности</a></li>
            <li><a href="#">Если вы врач - загляните сюда</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container footer-bottom-wrapper">
        <span>ИП Константинопольский К.К., 2023</span>
        <span>Политика обработки персональных данных</span>
      </div>
    </div>
  </footer>

}