.loader-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #2688eb;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.header {
  display: flex;
  position: absolute;
  width: 100%;
  height: 120px;
  background: rgba(24, 18, 30, 0.5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;

  &-interactive-wrapper {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  #toggleView, .live-input, .header-count {
    height: 25px;
  }

  .header-date, .live-output {
    width: 100%;
    height: 25px;
    border: 1px solid var(--white-color);
  }
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 143px;
  height: 60.78px;

  .company-name {
    width: 132px;
    height: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.4em;
  }
}

.nav-wrapper {
  display: flex;
  gap: 24px;

  a {
    white-space: nowrap;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }
}

.consultation-btn {
  width: 158px;
  height: 44px;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.012em;
}

.hero {
  background-image: url('/images/bg-main.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 985px;
  display: flex;
  justify-content: center;
  padding: 551px 0 82px 0;

  &-content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 352px;
    gap: 41px;
  }
}

.title-wrapper {
  height: 150px;

  .title-text {
    margin: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}

.search-form {
  height: 161px;
  padding: 40px 42px 40px 43px;
  box-sizing: border-box;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);

  &-inner {
    width: 1095px;
    height: 81px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.input-box {
  width: 270px;
  height: 81px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 52px;
  border: 1px solid #E1E3E4;
  border-radius: 8px;
  padding: 14px 16px 14px 16px;
  position: relative
}

.input-text {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--white-color);
  appearance: none;
  cursor: pointer;

  &::placeholder {
    color: var(--white-color);
    opacity: 1;
  }

  option {
    color: var(--primary-color);
  }
  
  &::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

.icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.arrow-icon {
  background-image: url('/images/arrow-down-ico.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.date-icon {
  background-image: url('/images/date-ico-up.svg'), url('/images/date-ico-down.svg');
  background-position: center 1px, center 2px;
  background-repeat: no-repeat, no-repeat;
}

.input-sub {
  width: 270px;
  height: 21px;
  padding-left: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.search-btn {
  width: 213px;
  height: 52px;

  // 16. п 2.4. Стили для состояния disabled кнопки отправки формы
  
  &:disabled {
    background: #808182;
    cursor: not-allowed;
  }
}

.about {
  background-color: var(--white-color);
  height: 726px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0;

  &-wrapper {
    height: 526px;
    display: flex;
    justify-content: space-between;
  }

  &-images-wrapper {
    width: 480px;
    height: 526px;
    position: relative;
  }

  &-img {
    position: absolute;
    border-radius: 24px;
    object-fit: cover;
  }

  &-img-back {
    width: 350px;
    height: 400px;
    left: 0px;
    top: 0px;
    z-index: 1;
  }

  &-img-front {
    width: 350px;
    height: 400px;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  &-title-wrapper {
    width: 580px;
    height: 398px;
    margin: 64px 0 64px 120px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &-heading-wrapper {
    width: 580px;
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--primary-color);
  }

  &-btn {
    width: 200px;
    height: 52px;
    margin-top: auto;
  }
}

.offer {
  background-color: var(--light-gray-color);
  height: 771px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 0 100px 0;

  &-wrapper {
    height: 591px;
    display: flex;
    justify-content: space-between;
  }

  &-title-wrapper {
    width: 580px;
    height: 591px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &-heading-wrapper {
    width: 580px;
    height: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--primary-color);
  }

  &-item-wrapper {
    width: 580px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    // 16. п 1.5. Анимация карточки программы при наведении курсора

    &:hover {
      transform: scale(1.1);
      outline: 1px solid rgb(5, 209, 255);
    }
  }

  &-icon-wrapper {
    width: 50px;
    height: 50px;
    margin: 7px 16px 7px 0;
    background-color: #E5EEEB;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-item-content-wrapper {
    width: 514px;
    height: 64px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.012em;
    color: var(--primary-color);
  }

  &-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-color);
  }

  &-btn {
    width: 236px;
    height: 52px;
    margin-top: auto;
  }

  &-images-wrapper {
    width: 510px;
    height: 510px;
    margin: 40px 0 41px 90px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  &-gallery-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
}

.destinations {
  background-color: var(--white-color);
  height: 893px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 80px 0 95px 0;

  &-heading-wrapper {
    width: 580px;
    height: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &-images {
    height: 500px;
    gap: 20px;
    display: flex;

    &-card {
    width: 380px;
    height: 500px;
    position: relative;

      .destinations-images-rating {
        width: 65px;
        height: 32px;
        position: absolute;
        display: flex;
        align-items: center;
        padding: 4px 8px;
        gap: 10px;
        right: 0px;
        top: 50px;

        background: rgba(253, 253, 253, 0.4);
        backdrop-filter: blur(2px);
        border-radius: 4px 0px 0px 4px;

        span {
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          color: var(--green-color);
        }
      }

      .destinations-images-footer {
        width: 380px;
        height: 90px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 32px 23px 32px;
        gap: 24px;
        bottom: 0%;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(3px);
        border-radius: 0px 0px 32px 32px;

        .destinations-images-info {
          width: 206px;
          height: 47px;

          h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
            color: var(--white-color);
          }

          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: var(--white-color);
          }
        }

        .destinations-images-price {
          width: 86px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px 16px;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: var(--white-color);
          background: rgba(255, 255, 255, 0.3);
          border-radius: 4px;
        }
      }
    }
  }

  &-btn {
    width: 220px;
    height: 52px;
    margin-top: auto;
  }

  &-gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.blog {
  background-color: var(--light-gray-color);
  height: 1036px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 85px 0 95px 0;

  &-heading-wrapper {
    width: 580px;
    height: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &-wrapper {
    height: 648px;
    gap: 24px 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  &-card {
    background-color: var(--white-color);
    width: 580px;
    height: 312px;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    gap: 24px;

    &:hover {
      box-shadow: 0px 0px 15px rgba(24, 18, 30, 0.12);

      .blog-card-title {
        text-decoration: underline;
      }
    }

    &-img {
      width: 230px;
      height: 280px;
    } 

    &-content {
      width: 294px;
      height: 280px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 16px 0;
    } 

    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: var(--green-color);
    }

    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--primary-color);
      flex-grow: 1;
    }

    &-footer {
      width: 294px;
      height: 20px;
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;

      &-date {
        color: var(--secondary-color);
      }

      &-link {
        color: var(--green-color);
      }
    }
  }

  &-btn {
    width: 236px;
    height: 52px;
    margin-top: auto;
  }
}

.msg-wrapper {
  width: 350px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40px;
  right: 20px;

  .msg-card {
    width: 350px;
    height: 70px;
    background: rgba(15, 23, 42, 0.85);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
    animation: slideIn 0.5s ease-out forwards;

    &-ico {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 15px;
      margin-right: 15px;
    }

    &-text {
      width: 253px;
      height: 40px;
      margin-top: 15px;
      margin-bottom: 15px;

      h3 {
        font-weight: 716;
        font-size: 16px;
        line-height: 20px;
        color: var(--white-color);
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: var(--white-color);
      }
    }

    &-close-btn {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 7px;
      right: 7px;
      background: none;
      border: none;
      padding: 0;
    }
  }
}

// 19. п 3.12. Анимация выплывающего сообщения

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}