@use './_fonts';
@use './_normalize';

*, 
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  width: 1180px;
}

button,
.input-field,
.input-field input,
.nav-wrapper a {
  cursor: pointer;
}

:root {
  --primary-color: #18121E;
  --white-color: #FDFDFD;
  --secondary-color: #F2BE22;
  --light-gray-color: #F3F5F4;
  --green-color: #1A3E3E;
}

.dark-text {
  color: var(--primary-color);
}

.white-text {
  color: var(--white-color);
}

.accent-text {
  color: var(--secondary-color);
}

.h2-title {
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: var(--primary-color);
}

.text-subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: var(--secondary-color);
}

.green-button {
  border-radius: 4px;
  background: var(--green-color);
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.012em;
  color: var(--white-color);
}

// div {
//   outline: 1px solid rgb(5, 209, 255) !important;
// }

// nav {
//   outline: 1px solid rgb(5, 209, 255) !important;
// }

// form {
//   outline: 1px solid rgb(5, 209, 255) !important;
// }

// span {
//   outline: 1px solid rgb(5, 209, 255) !important;
// }