@use './_fonts';
@use './_normalize';

*, 
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  width: 1180px;
}

button,
.input-field,
.input-field input,
.nav-wrapper a {
  cursor: pointer;
}

:root {
  --primary-color: #18121E;
  --white-color: #FDFDFD;
  --secondary-color: #F2BE22;
  --light-gray-color: #F3F5F4;
  --btn-green-color: #1A3E3E;
}

.dark-text {
  color: var(--primary-color);
}

.white-text {
  color: var(--white-color);
}

.accent-text {
  color: var(--secondary-color);
}

// div {
//   outline: 1px solid rgb(5, 209, 255) !important;
// }

// nav {
//   outline: 1px solid rgb(5, 209, 255) !important;
// }

// form {
//   outline: 1px solid rgb(5, 209, 255) !important;
// }

// span {
//   outline: 1px solid rgb(5, 209, 255) !important;
// }